# Ensemble Trees Exercise
Name: Kim Hazed Delfino

## Imports

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor

## Load the Data

In [4]:
path = r"C:\Users\kdelfino\Documents\GitHub\Ensemble-Trees-Exercise\Boston_Housing_from_Sklearn - Boston_Housing_from_Sklearn.csv"
df = pd.read_csv(path)

### Data Dictionary 
- `CRIM` per capita crime rate by town

- `NOX` nitric oxides concentration (parts per 10 million)

- `RM` average number of rooms per dwelling

- `AGE` proportion of owner-occupied units built prior to 1940

- `PTRATIO` pupil-teacher ratio by town

- `LSTAT` % lower economic status of the population

- `PRICE` Median value of owner-occupied homes in $1000's

## Data Exploration

In [5]:
df.head()

      CRIM    NOX     RM   AGE  PTRATIO  LSTAT  PRICE
0  0.00632  0.538  6.575  65.2     15.3   4.98   24.0
1  0.02731  0.469  6.421  78.9     17.8   9.14   21.6
2  0.02729  0.469  7.185  61.1     17.8   4.03   34.7
3  0.03237  0.458  6.998  45.8     18.7   2.94   33.4
4  0.06905  0.458  7.147  54.2     18.7   5.33   36.2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   NOX      506 non-null    float64
 2   RM       506 non-null    float64
 3   AGE      506 non-null    float64
 4   PTRATIO  506 non-null    float64
 5   LSTAT    506 non-null    float64
 6   PRICE    506 non-null    float64
dtypes: float64(7)
memory usage: 27.8 KB